/**
 * Homepage styles
 * 
 * The `.homepage` class is the container for the homepage layout.
 * It centers the content and adds consistent padding around the content.
 * 
 */
.homepage {
	padding: 2rem;
	text-align: center;
}

/**
 * Homepage Title styles
 * 
 * The `.homepage__title` class is used to style the main title on the homepage.
 * It defines the font size and spacing below the title.
 * 
 */
.homepage__title {
	font-size: 2rem;
	margin-bottom: 1.5rem;
}
