/* Global styles */

/* Apply a consistent font family and reset default margins and paddings */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #e1dddd;
}

/* Header and footer styling */
header,
footer {
	color: #e1dddd;
	padding: 1rem;
}

/* Link styling */
a {
	color: #e1dddd;
	text-decoration: none;
}
