body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #e1dddd;
}

header,
footer {
	background-color: #333;
	color: #e1dddd;
	padding: 1rem;
}

a {
	color: #e1dddd;
	text-decoration: none;
}
