/* .music-form: The main container for the form. */
.music-form {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
	background-color: #f9f9f9;
	border-radius: 5px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
/* .music-form__title: The title of the form. */
.music-form__title {
	font-size: 1.5rem;
	margin-bottom: 1rem;
	text-align: center;
}
/* .music-form__submit: The submit button for the form. */
.music-form__submit {
	display: block;
	width: 100%;
	padding: 0.75rem;
	font-size: 1rem;
	color: #e1dddd;
	background-color: #bb0a0a;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s;
}
/* .music-form__submit:hover: Style for the button when hovered over. */
.music-form__submit:hover {
	background-color: #a00909;
}
