.header {
	background-color: #bb0a0a;
	color: #e1dddd;
	padding: 1.5%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__title {
	font-size: 1.5rem;
	margin: 0;
}

.header__nav {
	display: flex;
	gap: 10px;
}

.header__link {
	color: #e1dddd;
	text-decoration: none;
}

.header__link--active {
	font-weight: bold;
	text-decoration: underline;
}
